<div class="nav-container">
  <nav class="sidebar">
    <ul>
      <li>
        <i class="bi bi-house-door"></i>&nbsp;<a
          routerLinkActive="active"
          [routerLink]="'dashboard'"
          >Dashboard</a
        >
      </li>
      <li>
        <i class="bi bi-cash-coin"></i>&nbsp;<a
          routerLinkActive="active"
          [routerLink]="'loans'"
          >Loans</a
        >
      </li>
      <li>
        <i class="bi bi-people"></i>&nbsp;<a
          routerLinkActive="active"
          [routerLink]="'customers'"
          >Customers</a
        >
      </li>
      <li>
        <i class="bi bi-currency-dollar"></i>&nbsp;<a
          routerLinkActive="active"
          [routerLink]="'payments'"
          >Payments</a
        >
      </li>
      <li>
        <i class="bi bi-files"></i>&nbsp;<a
          routerLinkActive="active"
          [routerLink]="'invoices'"
          >Invoices</a
        >
      </li>
      <li>
        <i class="bi bi-files-alt"></i>&nbsp;<a
          routerLinkActive="active"
          [routerLink]="'loan-types'"
          >Loan Plans</a
        >
      </li>
      <li>
        <i class="bi bi-graph-up-arrow"></i>&nbsp;<a
          routerLinkActive="active"
          [routerLink]="'reports'"
          >Reports</a
        >
      </li>
      <li>
        <i class="bi bi-gear"></i>&nbsp;<a
          routerLinkActive="active"
          [routerLink]="'settings'"
          >Settings</a
        >
      </li>
    </ul>

    <div class="log-info mt-5">
      <p>Logged in as:</p>
    </div>
  </nav>
</div>
