<div class="page-header mt-5">
  <div class="row">
    <div class="col-lg-2">
      <h2>Loan Types</h2>
    </div>
  </div>
</div>

<div class="status-box mt-3">
  <div class="row border-bottom">
    <div class="col loan-type">
      <span>Educational Loan</span>
    </div>
    <div class="col d-flex justify-content-end loan-type">
      <span>Created on 10-23-22</span>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col loan-type">
      <span>Commercial Loan</span>
    </div>
    <div class="col d-flex justify-content-end loan-type">
      <span>Updated on 12-23-22</span>
    </div>
  </div>
  <div class="row">
    <div class="col loan-type">
      <span>Personal Loan</span>
    </div>
    <div class="col d-flex justify-content-end loan-type">
      <span>Deleted on 10-23-22</span>
    </div>
  </div>
</div>
