<div class="page-header mt-5">
  <div class="row">
    <div class="col-lg-2">
      <h2>Dashboard</h2>
    </div>
    <div class="page-header-btn col-lg-10 d-flex justify-content-end">
      <button class="btn btn-primary">Reports</button>
    </div>
  </div>
</div>

<main class="mt-2">
  <div class="row">
    <div class="col-lg-2">
      <div class="status-box">
        <span>44</span>
        <p>Customers</p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="status-box">
        <span>34</span>
        <p>Total Loans</p>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="status-box">
        <span>78</span>
        <p>Approved Loand</p>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="status-box">
        <span>92</span>
        <p>Pending Loans</p>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="status-box">
        <span>55</span>
        <p>Risk Loans</p>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="status-box">
        <span>68</span>
        <p>Total Receivables</p>
      </div>
    </div>
  </div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>
        <th scope="col">Loan Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Loan Type</th>
        <th scope="col">Last Payment</th>
        <th scope="col">Payment Due</th>
        <th scope="col">Loan Status</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>

        <th scope="row">LN-1</th>
        <td>Otto</td>
        <td>@mdo</td>
        <td>USA</td>
        <td>New York</td>
        <td>Active</td>
      </tr>
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>
        <th scope="row">LN-2</th>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Spain</td>
        <td>Mandrid</td>
        <td>Active</td>
      </tr>
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>
        <th scope="row">LN-1</th>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Spain</td>
        <td>Mandrid</td>
        <td>Risk</td>
      </tr>
    </tbody>
  </table>

  <div class="page-header mt-5">
    <div class="row">
      <div class="col-lg-4">
        <h2>Recent Customers</h2>
      </div>
    </div>
  </div>

  <table class="table mt-2">
    <thead>
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>
        <th scope="col">Customer Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email Address</th>
        <th scope="col">Address</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>

        <th scope="row">1</th>
        <td>Jackie</td>
        <td>Robinson</td>
        <td>555-555-5555</td>
        <td>jackie@jrobinson.com</td>
        <td>123 Main Street</td>
        <td>Sports</td>
      </tr>
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>
        <th scope="row">2</th>
        <td>Paul</td>
        <td>Walker</td>
        <td>555-555-4444</td>
        <td>paul@paulwalker.com</td>
        <td>555 Sesame Street</td>
        <td>Racing</td>
      </tr>
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>
        <th scope="row">3</th>
        <td>Jackie</td>
        <td>Robinson</td>
        <td>555-555-5555</td>
        <td>jackie@jrobinson.com</td>
        <td>123 Main Street</td>
        <td>Sports</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</main>
