<div class="page-header mt-5">
  <div class="row">
    <div class="col-lg-6">
      <h2>
        Customer Details for:&nbsp; {{ customerDetails?.firstName }}&nbsp;{{
          customerDetails?.lastName
        }}
      </h2>
    </div>
  </div>
</div>
<main class="mt-4">
  <div class="col-lg-6">
    <div class="status-box">
      <span><strong>Customer Id:</strong>&nbsp;{{ customerDetails?._id }}</span>
      <span
        ><strong>First Name</strong>&nbsp;{{ customerDetails?.firstName }}</span
      >
      <span
        ><strong>Last Name</strong>&nbsp;{{ customerDetails?.lastName }}</span
      >
      <span
        ><strong>Phone Number</strong>&nbsp;{{
          customerDetails?.phoneNumber
        }}</span
      >
      <span
        ><strong>Email</strong>&nbsp;{{ customerDetails?.emailAddress }}</span
      >
      <span
        ><strong>Department</strong>&nbsp;{{
          customerDetails?.department
        }}</span
      >
      <div class="mt-3"></div>
      <a [routerLink]="['/customers']" class="btn btn-secondary"
        >Back to Customer List</a
      >
    </div>
  </div>
</main>
