<div class="page-header mt-5">
  <div class="row">
    <div class="col-lg-2">
      <h2>Loans</h2>
    </div>
    <div class="page-header-btn col-lg-10 d-flex justify-content-end">
      <button class="btn btn-primary">Add New Loan</button>
    </div>
  </div>
</div>

<main class="mt-4">
  <div class="col-lg-3">
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-secondary" type="submit">Search</button>
    </form>
  </div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>
        <th scope="col">Loan Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Loan Type</th>
        <th scope="col">Installments</th>
        <th scope="col">ROI</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Pending Amount</th>
        <th scope="col">Loan Status</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>

        <th scope="row">LA-34561</th>
        <td>Mark Cuban</td>
        <td>Education</td>
        <td>4</td>
        <td>6%</td>
        <td>10-11-2022</td>
        <td>49345</td>
        <td>Active</td>
      </tr>
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>
        <th scope="row">LA-34561</th>
        <td>Mark Cuban</td>
        <td>Education</td>
        <td>4</td>
        <td>6%</td>
        <td>10-11-2022</td>
        <td>49345</td>
        <td>Active</td>
      </tr>
      <tr>
        <th>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </th>
        <th scope="row">LA-34561</th>
        <td>Mark Cuban</td>
        <td>Education</td>
        <td>4</td>
        <td>6%</td>
        <td>10-11-2022</td>
        <td>49345</td>
        <td>Active</td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</main>
